# Mantener solo estos elementos rastreados
*
!/.gitignore
!/backend/
!/frontend/
!/docker-compose.yml
!/docker-compose.prod.yml
!/vercel.json
!/.vercelignore

# Permitir el contenido de backend y frontend
!/backend/**
!/frontend/**

contexto.md